body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#Encabezado {
  width: 100%;
  background-color: #a1a1a1;
  text-align: center;
  padding: 1em;
  color: black;
}

#contenedor {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  flex-wrap: wrap;
}

#Marvel, #DC {
  width: 45%;
  padding: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
  box-sizing: border-box;
}

#Marvel {
  background-color: #b30101;
}

#DC {
  background-color: #477fe7;
}
